<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 well">

<h1 class="page-header">Edit Profile</h1>
	<%if @user.sales == []%>
		<%=link_to "Delete","/users/#{@user.id}",method: :delete, data: {confirm: "Are you sure?"}%>
	<%end%>
	<p></p>
	  <%= form_for @user do |form| %>
	    <%= render partial: '/users/form', object: form %>

	    <div class="submit-field">
	      <%= form.submit "Submit", class: 'btn btn-default' %>
	    </div>


	  <% end %>

</div>