  <div class="col-xs-5 col-sm-5 col-md-5">
    <%= f.date_field :effective_date, placeholder: 'yyyy-mm-dd',class: "form-control datepicker",required: true %>
  </div>

  <div class="col-xs-5 col-sm-5 col-md-5">
   <%= f.number_field :percentage, class: "form-control",min: "0",max: "100",step: "any",required: true%>
  </div>

  <div class="col-xs-1 col-sm-1 col-md-1">
  	<%if f.object.sales == []%>
  		<%= f.link_to_remove "-",class: "ren_remove btn btn-default" %>
  	<%end%>
  </div>